<h1 style="font-family:verdana">Transaction history</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mode</th>
            <th scope="col">Status</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody *ngFor="let trans of transarray">
        <tr >
            <th scope="row">1</th>
            <td>{{trans.mode}}</td>
            <td>{{trans.status}}</td>
            <td>{{trans.amount}}</td>
        </tr>
    </tbody>
</table>
